.searched-plant-card {
  border: 1px solid black;
  margin: 10px;
  overflow: hidden;
}

.searched-plant-card-content {
  padding: 15px;
}

#searched-plants-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
}

#favorite {
 margin: 10px;
 padding: 20px;
 background-color: rgb(176, 231, 176);
 border: none;
 border-radius: 5px;
 font-size: 14px;
}

#login-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
  width: 300px;
  flex: 0 1 auto;
  padding: 10px;
  border: 1px solid rgb(10, 10, 10);
  border-radius: 5px;
  box-shadow: 3px 3px 2px rgb(220, 220, 220);
}

body {
  display: flex;
  flex-direction: column;
}

#contents {
  display: flex;
  flex-direction: column;
  align-items: center;

}